.bg1 {
  background: $cor5;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

body,
html {
  width: 100%;
  position: relative;
}

body {
  overflow-x: hidden;
  font-family: $openSans;
  color: $cor1;
}

:focus,
:hover {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $playFair;
  font-weight: bold;
  color: $cor1;
}

h2 {
  font-size: 3rem;
  margin-bottom: 4rem;

  span {
    display: block;
    font-size: 5.5rem;
    color: $cor2;
    font-style: italic;
    font-weight: bold;
    line-height: 4rem;
  }
}
@media screen and (max-width: 39.9375em) {
  h2 {
    font-size: 2.5rem;

    span {
      font-size: 3.5rem;
      line-height: 2rem;
    }
  }
}

a,
a:focus,
a:hover {
  color: $cor1;
}
/*SAIBA MAIS*/
.saiba-mais {
  font-family: $playFair;
  text-transform: uppercase;
  position: relative;
  &::after {
    position: absolute;
    left: 0;
    content: '';
    height: 1px;
    background: $cor1;
    transition: all 0.7s linear;
    width: 0;
    bottom: 0;
  }
  &::before {
    position: absolute;
    left: 0;
    content: '';
    height: 1px;
    background: $cor2;
    transition: all 0.6s linear;
    width: 0;
    bottom: 0;
  }
  &:hover::after {
    width: calc(100% - 7px);
    left: 0;
  }
  &:hover::before {
    width: 100%;
    left: 0;
  }
}
/* BUTTONS */
.button {
  background: $cor2;
  &:focus,
  &:hover {
    background: $cor1;
  }
}

.button.secondary,
.button.secondary:focus,
.button.secondary:hover {
  color: $cor;
  background: $cor1;
}

.button-search {
  font-family: FontAwesome;
  height: 42px !important;
  font-size: 1.6rem !important;
  padding: 0 3rem;
}

.close-button {
  z-index: 9999;
  margin-top: -6px;
  color: $cor;
  &:focus, &:hover{
    color: $cor1;
  }
}
.button-menu-icon{
  display: inline-block;
  padding: 0.4rem;
  width: 32px;
  height: 27px;
  background: $cor5;
  color: $cor2;
  .menu-icon{
    &::after{
      background: $cor1;
      box-shadow: 0 7px 0 $cor1, 0 14px 0 $cor1;
    }
  }
}
/*SOCIAL BUTTONS*/
.social-buttons {
  a,
  a:hover {
    padding: 0.3rem;
    width: 32px;
    background: $cor;
    color: $cor2;

    i {
      font-size: 1.3rem;
    }
  }
}
textarea {
  min-height: 150px;
}
